.smallRound {
  border-radius: 5px;
}

.displayCard {
  background: rgb(220, 215, 225);
  border-radius: 20px;
}

.postLabel {
  max-height: 25%;
  color: rgb(80, 80, 80);
}

.postText {
  width: 95%;
  height: 45%;
  max-height: 45%;
}

.editPostBtn {
  border: none;
}

.postBtn {
  border: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.followerImg {
  max-width: 100%;
}

.postPic {
  border-radius: 5px;
  max-height: 50%;
}
