<div class="container">
  <div class="row justify-content-around mt-5">

    <div class="col col-md-4 col-12 mb-4 displayCard">
      <div class="text-center mt-4">
        <img [src]="photo" width="45%" class="mb-4 smallRound">
        <h3>{{username}}</h3>
        <p [(innerHTML)]="status"></p>
        <input #updateStatusInput class="form-control mb-3" value={{status}} [hidden]="!isStatusBeingEdited">
        <button class="btn btn-outline-primary editPostBtn mb-3" (click)="updateStatus(updateStatusInput.value)">
          {{editOrSave}}
        </button>
      </div>
    </div>


    <div class="col col-md-7 col-12 mb-4 displayCard">
      <h2 class="postLabel mt-4 mb-3 ml-3">New Post</h2>
      <hr>
      <textarea #newPost class="form-control postText mx-auto mb-3"></textarea>

      <div class="d-flex justify-content-center">
        <button class="btn btn-outline-success postBtn" (click)="addPost(newPost)">Post</button>
        <button class="btn btn-outline-primary postBtn" ngFilePicker accept="image/*" (filePick)="picked = $event">
          Upload
        </button>
        <button class="btn btn-outline-danger postBtn" (click)="clearPost(newPost)">Clear</button>
      </div>
    </div>
  </div>

</div>


<div class="row d-flex justify-content-around ml-3 mt-3">

  <div class="col col-md-7 col-12 displayCard">
    <div *ngFor="let post of posts">
      <div class="row">
        <div class="col-12 col-md-12">
          <img src={{post.img}} height="200" class="mb-3 mt-4 postPic"/>
          <h2 class="mx-2">{{post.author}}</h2>
          <p class="mx-2">{{post.text}}</p>
          <p class="mx-2">{{post.date}}</p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-success mr-2">Comment</button>
            <button class="btn btn-primary ml-2">Edit</button>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>


  <div class="col col-md-4 col-12 displayCard align-self-start">
    <h4 class="postLabel my-4 ml-4">Your Followed Users</h4>
    <hr>

    <div *ngFor="let follower of followers">
      <div class="d-flex justify-content-between mb-3">
        <div class="col-6 text-center">
          <h5 class="postLabel">{{follower.name}}</h5>
          <p>{{follower.status}}</p>
          <button class="btn btn-outline-danger postBtn" (click)="delFollower(follower)">Unfollow</button>
        </div>
        <div class="col-6">
          <img src="{{follower.img}}" class="followerImg smallRound">
        </div>
      </div>
      <hr>
    </div>

    <div class="d-flex">
      <input #newFollower class="form-control my-3" placeholder="Username">
      <button class="btn btn-outline-primary ml-2 my-3" (click)="addFollower(newFollower)">Add</button>
    </div>

  </div>

</div>
