<div class="container">
  <div class="jumbotron mt-5 mx-auto round">
    <h1 class="display-3">Oops...</h1>
    <hr class="my-4">
    <p class="text-center">There's nothing here ;(</p>
  </div>
</div>
