<nav class="navbar navbar-expand-sm navbar-dark bg-dark d-flex justify-content-start">

  <a class="navbar-brand mr-4 pr-0" routerLink="/" routerLinkActive="active" [hidden]="loggedIn"><h2>{{title}}</h2></a>
  <a class="navbar-brand mr-4 pr-0" routerLink="/home" routerLinkActive="active" [hidden]="!loggedIn"><h2>{{title}}</h2></a>

  <ul class="navbar-nav p-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active" [hidden]="!loggedIn">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile" routerLinkActive="active" [hidden]="!loggedIn">Profile</a>
    </li>
  </ul>


  <input #nameInput class="form-control ml-auto mr-sm-2" type="text" placeholder="Username" [hidden]="loggedIn"  [value]="userName" (change)="userName=nameInput.value" required>
  <input #pwdInput class="form-control mr-sm-2" type="password" placeholder="Passphrase" [hidden]="loggedIn" [value]="password" (change)="password=pwdInput.value" required>
  <input #searchInput class="form-control ml-auto mr-sm-2" type="text" placeholder="Search Posts" [hidden]="!loggedIn" required>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="logIn()" [hidden]="loggedIn">Log In</button>
  <button class="btn btn-outline-success my-2 my-sm-0 mr-2" [hidden]="!loggedIn">Search</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="logOut()" [hidden]="!loggedIn">Log Out</button>

</nav>

<router-outlet></router-outlet>
