<div class="container mt-5">

  <h1 class="text-center">Your Profile</h1>
  <div class="row d-flex justify-content-center imgWrapper mt-3">
    <div (mouseover)="showChange(userImg, btnOverlay)" (mouseout)="hideChange(userImg, btnOverlay)"
         class="text-center w-50">
      <img #userImg [src]="photo" class="mt-3 w-100" style="max-width: 350px!important">
      <div #btnOverlay class="imgOverlay" hidden>
        <button #changeImgBtn class="btn btn-lg btn-primary" ngFilePicker accept="image/*" (filePick)="imgPicked($event)">
          Change
        </button>
      </div>
    </div>
  </div>

  <br>
  <div class="row d-flex justify-content-center w-50 mx-auto mt-3 mb-5">
    <div class="col-6">
      <div><strong>Name: </strong>{{user.firstName}} {{user.lastName}}</div>
      <div><strong>Display Name: </strong>{{user.username}}</div>
      <div><strong>Email: </strong>{{user.email}}</div>
    </div>
    <div class="col-6">
      <div><strong>Birthday: </strong>{{user.birthday}}</div>
      <div><strong>Phone: </strong>{{user.phone}}</div>
      <div><strong>Zip Code: </strong>{{user.zip}}</div>
    </div>
  </div>

  <div class="row justify-content-around my-5 mx-auto editInfo">
    <div class="col col-12 ml-3">
      <h2 class="mt-5">Edit Your Info</h2>
      <hr>
    </div>

    <div class="col-6 mt-3 pl-4">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input #firstName type="text" id="firstName" class="form-control" value="{{user.firstName}}">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input #lastName type="text" id="lastName" class="form-control" value="{{user.lastName}}">
      </div>
      <div class="form-group">
        <label for="username">Display Name:</label>
        <input #username type="text" id="username" class="form-control" value="{{user.username}}">
      </div>
    </div>

    <div class="col-6 mt-3 pr-4">
      <div class="form-group">
        <label for="email">Email:</label>
        <input #email id="email" type="email" class="form-control" value="{{user.email}}">
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input #phone id="phone" type="text" class="form-control" value="{{user.phone}}">
      </div>
      <div class="form-group">
        <label for="zipcode">Zipcode:</label>
        <input #zip type="number" id="zipcode" class="form-control" value="{{user.zip}}">
      </div>
      <br>
    </div>
    <button type="submit" class="btn btn-primary mb-4"
            (click)="updateUser(firstName.value, lastName.value, email.value, username.value, zip.value, phone.value)">
      Update
    </button>

  </div>

</div>
