<div class="container">

  <div class="jumbotron mt-5 round">
    <h1 class="display-3">Sign up for RiceBook</h1>
    <hr class="my-4">
    <p>Sign up and start sharing with your friends today.</p>
  </div>

  <h3 class="ml-5 mb-3">Tell us about yourself</h3>
  <hr class="my-4">
  <h6 class="form-text text-muted ml-5 mb-5">Fields marked with an asterisk (*) are mandatory</h6>

  <div class="row mb-5">
    <div class="col-6 mx-auto">
      <form onsubmit="validate()">
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="inputUsername">Username</label>
            <small class="text-danger mr-1">*</small>
          </div>
          <input type="text" class="form-control" id="inputUsername" placeholder="John513" pattern="^[^\d\s][a-zA-Z0-9]*$"
                 title="Only upper and lowercase letters plus numbers. Don't start with a number" required>
          <small class="form-text text-muted">This is the name you will log in with</small>
        </div>
        <div class="form-group">
          <label for="inputDisplayName">Display Name</label>
          <input type="text" class="form-control" id="inputDisplayName" placeholder="Johnny Appleseed"
                 title="Only upper and lowercase letters plus numbers. Don't start with a number" pattern="^[^\d\s][a-zA-Z0-9]*$">
          <small class="form-text text-muted">This is the name other users will see for you</small>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="inputEmail1">Email address</label>
            <small class="text-danger mr-1">*</small>
          </div>
          <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                 pattern="[^\s]+@[^\s]+.[a-z]+" required>
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="inputPhone">Phone</label>
            <small class="text-danger mr-1">*</small>
          </div>
          <input type="text" class="form-control" id="inputPhone" placeholder="(555)555-1234"
                 title="Format: (555)555-1234" pattern="\(\d\d\d\)\d\d\d-\d\d\d\d" required>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="inputBirthday">Birthday</label>
            <small class="text-danger mr-1">*</small>
          </div>
          <input type="date" class="form-control" id="inputBirthday" pattern="\d\d/\d\d/\d\d\d\d"
                 title="You must be at least 18 years old to use RiceBook" required>
          <small class="form-text text-muted">You must be at least 18 years old to use RiceBook.</small>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="inputZip">Zip Code</label>
            <small class="text-danger mr-1">*</small>
          </div>
          <input type="number" class="form-control" id="inputZip" placeholder="12345"
                 pattern="\d\d\d\d\d" title="e.g. 00123" required>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="inputPassword">Password</label>
            <small class="text-danger mr-1">*</small>
          </div>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                 pattern="^\S+$" title="Passwords cannot contain spaces" required>
          <small class="form-text text-muted">Passwords cannot contain spaces</small>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between">
            <label for="confirmPassword">Confirm Password</label>
            <small class="text-danger mr-1">*</small>
          </div>
          <input type="password" class="form-control" id="confirmPassword" pattern="^\S+$" required>
        </div>
        <div class="d-flex justify-content-between">
          <button type="reset" class="btn btn-danger">Clear</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
