img {
  border-radius: 20px;
}

.imgWrapper {
  position: relative;
}

.imgOverlay {
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  text-align: center;
}

.imgOverlay:before {
  content: ' ';
  display: block;
  height: 100%;
}

.profInfoLeft {
  margin-left: 50%;
}

.profInfoRight {
  margin-right: 50%;
}

.editInfo {
  background: rgb(220, 215, 225);
  border-radius: 20px;
  width: 90%;
}

