<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div>
    <span><a routerLink="/donate" routerLinkActive="active">Donate</a></span>
    <span><a routerLink="/about" routerLinkActive="active">About</a></span>
    <span><a routerLink="/contact" routerLinkActive="active">Contact</a></span>
    <span><a routerLink="/home" routerLinkActive="active">Home</a></span>
    <span><a routerLink="/list" routerLinkActive="active">List</a></span>
</div>

<router-outlet></router-outlet>
